{% extends "base.html" %}
{% load custom_filters %}
{% block title %}
    Home
{% endblock title %}
    
{% block content %}
    <div class="row py-3 gap-3 justify-content-center">
        {% for post in posts %}
            <div class="col-12 col-md-7">
                <div class="card">
                    <div class="card-header">
                        <a href={% url "profile" pk=post.user.id %}>
                            <div class='d-flex gap-2 align-items-center'>
                                <div style='width:45px;height:45px;'>
                                    <img class='w-100 h-100 rounded-circle object-fit-cover' src="{{post.user.profile.image.url}}" alt="{{post.title}}">
                                </div>
                                <h4 class='fs-6 text-black m-0'>
                                    {{post.user}}
                                </h4>
                            </div>
                        </a>
                    </div>
                    <a href="">
                        <img src="{{post.image.url}}" class="card-img-top" alt="...">
                    </a>
                    <div class="card-body">
                        <div>
                            <a class="btn_liked" data-post_id="{{post.id}}">
                                {% if post|is_liked_by_user:user %}
                                    <i title='Unlike' style='font-size:1.2rem;cursor:pointer;' class="text-danger bi bi-heart-fill"></i>
                                {% else %}
                                    <i title='Like' style='font-size:1.2rem;cursor:pointer;'    class="text-black bi bi-heart"></i>
                                {% endif %}
       
                            </a>
                            <h6 class="fs-6">
                                <span id="post_likes_count-{{post.id}}">{{post.likes.count}}</span>
                                 Likes
                            </h6>
                        </div>
                        <h5 class="card-title fs-4">{{post.title}}</h5>
                        <p class="card-text fs-6">{{post.content}}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
            
    </div>
    <script>
        const likedButtons = document.querySelectorAll('.btn_liked')
        likedButtons.forEach(button => {
            button.addEventListener('click', async function(e) {
                e.preventDefault()
                liked_button = e.currentTarget
                postId = liked_button.dataset.post_id
                const postLikesCount = document.getElementById(`post_likes_count-${postId}`)
                try {
                    const res = await fetch(`/posts/${postId}/like`)
                    const data = await res.json()
                    icon = liked_button.querySelector('i')
                    if (data.liked)
                    {
                        icon.classList.add('text-danger')
                        icon.classList.remove('text-black')
                        icon.classList.remove('bi-heart')
                        icon.classList.add('bi-heart-fill')
                        console.log(data.count)
                        postLikesCount.textContent = data.count
                    }else{
                        icon.classList.add('text-black')
                        icon.classList.remove('text-danger')
                        icon.classList.remove('bi-heart-fill')
                        icon.classList.add('bi-heart')
                        postLikesCount.textContent = data.count
                    }
                    
                }
                catch (err) {
                    console.error(err)
                }
            })
        })
    </script>
{% endblock content %}
    