{% extends "base.html" %}

{% block title %}
    Home
{% endblock title %}
    
{% block content %}
    <div class="row py-3 gap-3 justify-content-center">
        {% for post in posts %}
            <div class="col-12 col-md-7">
                <div class="card">
                    <div class="card-header">
                        <a href={% url "profile" pk=post.user.id %}>
                            <div class='d-flex gap-2 align-items-center'>
                                <div style='width:45px;height:45px;'>
                                    <img class='w-100 h-100 rounded-circle object-fit-cover' src="{{post.user.profile.image.url}}" alt="{{post.title}}">
                                </div>
                                <h4 class='fs-6 text-black m-0'>
                                    {{post.user}}
                                </h4>
                            </div>
                        </a>
                    </div>
                    <a href="">
                        <img src="{{post.image.url}}" class="card-img-top" alt="...">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title fs-4">{{post.title}}</h5>
                        <p class="card-text fs-6">{{post.content}}</p>
                        <div>
                            <a href={% url "posts:like" post_id=post.id %}>
  
                                <i title='Like' style='font-size:1.5rem;cursor:pointer;' class="text-black bi bi-heart"></i>
       
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
            
    </div>
{% endblock content %}
    