{% extends "base.html" %}


{% block title %}
    Password Reset Done
{% endblock title %}


{% block content %}
<div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="row w-100 justify-content-center">
      <div class="col-12 col-md-6 col-lg-4">
        <div class="card">
          <div class="card-header">
            Password Reset Completed
          </div>
          <div class="card-body">
            <blockquote class="blockquote mb-0">
              <p>Your password has been successfully reset. You can now log in with your new password.</p>
              <footer class="blockquote-footer">If you did not request this, please contact support immediately.</footer>
            </blockquote>
          </div>
        </div>
      </div>
    </div>
  </div>  
{% endblock content %}
    
    