{% extends "base.html" %}

{% block title %}
    Sign In
{% endblock title %}


{% block content %}
<div class="vh-100 d-flex justify-content-center align-items-center">
    <div class="row w-100 justify-content-center">
        <div class="col-12 col-md-6">
            <div class='shadow border border-light px-3 py-4'>
                <h2 class="mb-3">Register</h2>
                <h5 class='mb-2 font-monospace fs-6'>
                    <span>Already have an account?</span>
                    <a href={% url "login" %}>Login</a>
                </h5>
                <form action="" method="post">
                    {% csrf_token %}
                    {%load crispy_forms_tags %} 
                    {{form|crispy}}
                    <button class='btn btn-primary' type="submit">Register</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
    
    